.demandertroc
{
    background-image: linear-gradient(to right, #ABD0BE   ,   #b3abd0 , rgb(0, 162, 255), rgb(19, 26, 129) );
}


.form-group
{
    margin-left: 200px;
}

.proposertroc
{
    background-image: linear-gradient(to right, #ABD0BE   ,   #b3abd0 , rgb(0, 162, 255), rgb(19, 26, 129) );
}
